<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>News</title>
        <link href="/css/posts-styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1 class="main-heading">News site</h1>
        <div th:each="post: ${posts}" class="post">
            
            <!-- header link -->
            <a th:href="${'/posts/' + post.getId()}">
                <p th:text="${post.getHeader()}" class="news-header"></p>
            </a>
            
            <!-- part of the text -->
            <p th:text="${post.getText()}"></p>
            
            <!-- date -->
            <p th:text="${'Date: ' + #dates.format(post.getCreationDate(),'dd/MMM/YYYY')}"></p>
            
            <!-- delete button -->
            <form th:if="${update}" method="post" th:action="@{/admin/delete}">
                <input type="hidden" name="id" th:value="${post.getId()}">
                <button type="submit" id="delete-button">Delete</button>
            </form>
            
            <!-- update button -->
            <form th:if="${update}" method="get" th:action="@{/admin/update}">
                <input type="hidden" name="id" th:value="${post.getId()}">
                <button type="submit" id="update-button">Update</button>
            </form>
        
        </div>
    </body>
</html>