<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>News</title>
        <link href="../css/posts-styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div th:each="post: ${posts}" class="post">
            <!-- header link -->
            <a th:href="${'/posts/' + post.getId()}">
                <p th:text="${post.getHeader()}" class="header"></p>
            </a>
            
            <!-- part of the text -->
            <p th:text="${post.getText()}"></p>
            
            <!-- date -->
            <p th:text="${'Date: ' + #dates.format(post.getCreationDate(),'dd/MMM/YYYY')}"></p>
            
        </div>
    </body>
</html>